<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/headermain'); %>
    </header>

    <main>

        <div style="margin-top: 50px;">
            <h1>Delete Book</h1>
<div style="border: dotted; padding: 30px; height: fit-content; width: fit-content;">
            <% if (book){ %>
                
                <p>Are you sure you want to delete the book?</p>
                <p><strong>Title:</strong>
                    <%= book.title %>
                </p>
                <p><strong>Author:</strong>
                    <%= book.author %>
                </p>
                <p><strong>Year:</strong>
                    <%= book.year %>
                </p>
                <form action="/library/delete/<%= book.id %>" method="post">
                <button type="submit" class="btn btn-dark" style="margin-left: 100px;"> Delete</button>
                </form>
                <% } else { %>
                    <p>Book not found.</p>
                    <% } %>
                </div>
        </div>

    </main>

    <footer>

    </footer>

</body>

</html>